.App {
  color: white;

  width: 100vw;
  max-width: 100vw;

  font-family: cheap-pine-sans, sans-serif;

  .hero {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    box-sizing: border-box;

    text-align: center;
    text-shadow: 2px 2px 6px rgba(black, 0.2);

    animation: {
      name: bg-animation;
      duration: 5s;
      timing-function: linear;
      direction: alternate;
      iteration-count: infinite;
    };
  
    background: {
      position: center bottom;
  
      image: url('./img/bg.jpg');
      size: cover;
      repeat: no-repeat;
      blend-mode: soft-light;
    };
  }
  
  .countdown-display {
    margin: 1rem;

    text-align: center;

    font-family: corner-store-jf, sans-serif;
    
    .value {
      display: inline-block;

      font-size: 4vh;
      font-weight: 900;
      line-height: 0.9;
      letter-spacing: 0;
    }
    
    .unit {
      display: inline-block;
      
      font-size: 2vh;      
      font-weight: 400;
      line-height: 1;
    }
  }

  .likecoin-button-wrapper {
    padding: 1rem;

    .likecoin-embed {
      margin: auto;
    }
  }
}

.likecoin-like-button {
  width: 100%;
  max-width: 485px;
  max-height: 256px;
  margin: 0;

  > div {
    position: relative;
    padding-top: 49.48454%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.spacer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.event {
  &-title {
    > span {
      font-size: 6vmin;
    }

    font-size: 14vmin;
    font-family: mrblaketon-pro, sans-serif;

    line-height: 0.9;
  }
  &-date {
    font-size: 10vh;
    font-family: cheap-pine, sans-serif;
  }

  &-time {
    font-size: 6vh;
  }
}

.event-details {
  margin-top: 1vh;
  padding: 1rem;

  box-sizing: border-box;
  
  text-align: center;
  
  &__venue {
    font-size: 3vh;
    font-family: parkside, cursive;
    font-weight: 700;
  }

  &__address {
    font-size: 2vh;
    font-family: capucine-web, sans-serif;
    font-weight: 300;
    font-style: italic;
  }
}