.App {
  display: flex;
  overflow: hidden;
  align-items: center;

  height: 100vh;
  max-height: 100vh;
  padding-left: 4vw;
  
  .countdown-display {
    color: white;
    
    .value {
      display: inline-block;

      letter-spacing: 0;

      font-family: "mplus-1m", monospace;
      font-size: 16vh;
      font-weight: 900;
      line-height: 0.9;
    }
    
    .unit {
      display: inline-block;

      transform: translateY(-0.3vh);

      font-family: "source-han-sans-traditional", sans-serif;
      font-size: 3vh;
      font-weight: 300;
      line-height: 1;
    }
  }
}